<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Achieve</title>
    <link rel="stylesheet" href="/assets/stylesheets/normalize.css">
    <link rel="stylesheet" href="/assets/stylesheets/tops.scss">
</head>
<body>
  <div class="container">
    <section class="about">
      <h1>Post a word</h1>
      <p>In one word what you want to say now</p><br>
      <p>今言いたいことを一言で</p>
    </section>
    <section class="function">
      <h1>Function</h1>
      <div class="function-images clearfix">
        <div class="function-image">
          <img src="/assets/mails.png">
          <p>ひとこと投稿</p>
        </div>
        <div class="function-image">
          <img src="/assets/edit.png">
          <p>編集機能</p>
        </div>
        <div class="function-image">
          <img src="/assets/index.png ">
          <p>一覧表示</p>
        </div>
        <div class="function-image">
          <img src="/assets/delete.png ">
          <p>削除機能</p>
        </div>
      </div>
    </section>
  </div>
</body>
</html>
