.container {
  padding-top: 50px;
  padding-bottom: 120px;
  background-image: url("/assets/picture-1.jpeg");
  background-attachment: fixed;
}
.field {
  margin: auto;
  width: 130px;
  text-align: center;
}
.actions {
  text-align: center;
}
